<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
</head>
<body>
    <h1>Dagbok</h1>
    <div>
        <form method="post" th:action="@{/new-diary}">
            <input type="text" name="title" id="title" placeholder="Ange titeln" required>

            <textarea name="text" id="text" placeholder="Ange text" required></textarea>

            <input type="date" name="date" id="date" placeholder="Ange datum" required>

            <button>Spara</button>
        </form>
    </div>
    <ul>
        <li th:each=" diary : ${diaries}"><span th:text="${diary.title}"></span></li>
    </ul>
</body>
</html>