<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
</head>
<body>
    <h1>Lägg till inlägg</h1>
    <div>
        <form method="post" th:action="@{/new-diary}">
            <input type="text" name="title" placeholder="Ange titeln" required>

            <textarea name="text" placeholder="Ange text" required></textarea>

            <input type="date" name="date" placeholder="Ange datum" required>

            <button>Spara</button>
        </form>
    </div>
    <ul>
        <li th:each=" diary : ${diaries}">
            <a th:href="@{/diary/{diaryTitle}(diaryTitle=${diary.title})}">
                <span th:text="${diary.title + ' - ' + diary.date}"></span>
            </a>
            <a th:href="@{/edit-diary/{id}(id=${diary.id})}">[Edit]</a>
            <a th:href="@{/delete-diary(id=${diary.id})}">[X]</a>
        </li>
    </ul>

    <h1>Se inlägg mellan valda datum</h1>
    <form method="get" th:action="@{/between-dates-diary-result}">
        <label for="startDate">Ange första datumet:</label>
        <input type="date" name="startDate" th:value="${startDate}" required>

        <label for="endDate">Ange andra datumet:</label>
        <input type="date" name="endDate" th:value="${endDate}" required>

        <button type="submit">Sök</button>
    </form>

    <ul th:if="${diariesBetweenDates != null}">
        <li th:each="diary : ${diariesBetweenDates}">
            <a th:href="@{/diary/{diaryTitle}(diaryTitle=${diary.title})}">
                <span th:text="${diary.title + ' - ' + diary.date}"></span>
            </a>
        </li>
    </ul>

</body>
</html>